#header {
    padding: 15px 120px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border-bottom: 1px solid #ddd;
    .logo {
        width: 25%;
        img {
            width: 70%;
            height: auto;
        }
    }
    .menu {
        width: 50%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        list-style: none;
        margin-bottom: 0;
        li {
            padding: 5px 20px;
            a {
                color: #333;
                font-size: 16px;
                font-weight: 500;
            }
        }
    }
    .language-start {
        width: 25%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-left: 30px;
        .language {
            width: auto;
            height: 46px;
            cursor: pointer;
            display: flex;
            flex-direction: row;
            -webkit-box-align: center;
            align-items: center;
            padding: 0px 20px;
            border: 1px solid #ddd;
            border-radius: 30px;
            color: #868e96;
            font-weight: 500;
            font-size: 16px;
            span {
                margin-left: 5px;
                margin-top: 4px;
                font-weight: 500;
            }
        }
        .start {
            width: auto;
            height: 46px;
            line-height: 46px;
            text-align: center;
            letter-spacing: 0.5px;
            color: #ffffff;
            border-radius: 23px;
            background: #74bacd;
            padding: 0px 20px;
            border: none;
            font-weight: 500;
            cursor: pointer;
        }
    }
}
