img {
    width: 100%;
    height: auto;
}
#home-page {
    section {
        padding: 50px 120px;
    }
    .welcome {
        height: 700px;
        background: url('../static/home-bg-welcome.jpg') 0% 0% no-repeat;
        background-position: center;
        background-size: cover;
        overflow: hidden;
        display: flex;
        align-items: center;
        .content {
            width: 40%;
        }
        h2 {
            font-size: 40px;
            font-weight: 700;
            margin: 0;
        }
        p {
            font-size: 16px;
            font-weight: 500;
            color: #000;
            margin: 70px 0;
        }
        .try {
            button {
                max-width: 240px;
                width: 240px;
                height: 60px;
                line-height: 50px;
                text-align: center;
                font-weight: 700;
                display: flex;
                justify-content: center;
                border-radius: 30px;
                font-size: 16px;
                &:first-child {
                    color: #6db2c5;
                    border: 2px solid #6db2c5;
                    margin-bottom: 30px;
                    background-color: #fff;
                }
                &:last-child {
                    border: 1px solid #6db2c5;
                    background: linear-gradient(
                        90deg,
                        #6db2c5 0%,
                        #499fb6 100%
                    );
                    color: #fff;
                }
            }
        }
    }
    .products {
        padding: 100px 120px;
        color: #3f3f37;
        .title {
            text-align: center;
            h2 {
                font-size: 32px;
                font-weight: 700;
                padding-bottom: 15px;
                margin-bottom: 30px;
                position: relative;
                &::before {
                    position: absolute;
                    content: '';
                    border-top: 6px solid #6db2c5;
                    width: 60px;
                    bottom: 0;
                    left: calc(50% - 30px);
                }
            }
            p {
                font-size: 26px;
            }
        }
        .product-in-house {
            background-color: #f0fcff;
            padding: 80px;
            display: flex;
            justify-content: space-around;
            align-items: center;
            .arrow {
                padding: 0 40px;
            }
            img {
                width: 100%;
                height: auto;
            }
        }
        .product-orther {
            padding-top: 30px;
            .arrow-down {
                text-align: center;
                img {
                    height: 40px;
                    width: auto;
                }
                p {
                    font-size: 26px;
                    margin: 20px 0 70px;
                }
            }
        }
        .list-products {
            display: flex;
            flex-wrap: wrap;
            position: relative;
            padding-bottom: 40px;
            &::before {
                position: absolute;
                content: '';
                border-top: 4px solid #f1f3f5;
                width: calc(100% - 200px);
                bottom: 0;
                left: 100px;
            }
            .item-product {
                width: 20%;
                padding: 0 15px;
                text-align: center;
                img {
                    width: 100%;
                    height: auto;
                }
                h4 {
                    max-width: calc(100% - 30px);
                    overflow: hidden;
                    line-height: 40px;
                    margin: 5px 15px 0;
                    font-size: 18px;
                }
            }
        }
        .info-products {
            .item-info-product {
                display: flex;
                flex-wrap: wrap;
                flex-direction: row;
                align-items: center;
                padding: 40px 0;
                &:nth-child(even) {
                    div:first-child {
                        order: 2;
                    }
                    div:last-child {
                        order: 1;
                    }
                }
                .info {
                    width: 50%;
                    padding: 20px 40px;
                    .title {
                        text-align: left;
                        font-size: 26px;
                        font-weight: 600;
                        position: relative;
                        &::before {
                            position: absolute;
                            content: '';
                            border: 15px solid #d6ecf1;
                            border-radius: 50%;
                            top: 4px;
                            left: -16px;
                            z-index: -1;
                        }
                    }
                    .content-main {
                        padding: 6px;
                        background: #ebf8fc;
                        border-radius: 4px;
                        font-size: 18px;
                        margin: 20px 0;
                    }
                    p {
                        font-size: 18px;
                    }
                }
                .image {
                    width: 50%;
                    overflow: hidden;
                }
            }
        }
    }
}
